{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 768px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  @media screen and (max-width: 767px) {
    .section-{{ section.id }}-padding {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
{%- endstyle -%}

<style>
  @media screen and (min-width: 768px) {
    .accordion-button {
      font-size: 16px;
    }
    .accordion-body {
      font-size: 16px;
    }
  }

  @media screen and (max-width: 767px) {
    .accordion-button {
      font-size: 18px;
    }
    .accordion-body {
      font-size: 14px;
    }
  }
</style>

<section class="section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">
  <div class="container">
    <div class="row align-items-center">
      <div class="header-accordion mobile">
        <h2 class="{{ section.settings.heading_size }}">{{ section.settings.title }}</h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="img-accordion">
          <img src="{{ section.settings.image | img_url: 'master' }}" alt="{{ section.settings.image.alt | escape }}">
          {% for block in section.blocks %}
            <div class="number pin-{{ forloop.index }}">{{ forloop.index }}</div>
          {% endfor %}
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="header-accordion">
          <h2 class="{{ section.settings.heading_size }}">{{ section.settings.title }}</h2>
        </div>
        <div class="accordion accordion-flush" id="accordionFlushExample">
          {% for block in section.blocks %}
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-heading{{ forloop.index }}">
                <button
                  class="accordion-button collapsed h4"
                  type="button"
                  data-index="{{ forloop.index }}"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapse{{ forloop.index }}"
                  aria-expanded="false"
                  aria-controls="flush-collapse{{ forloop.index }}"
                >
                  {{ block.settings.title }}
                </button>
              </h2>
              <div
                id="flush-collapse{{ forloop.index }}"
                class="accordion-collapse collapse"
                aria-labelledby="flush-heading{{ forloop.index }}"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  <span class="number numb-{{ forloop.index }}">
                    <p>{{ forloop.index }}</p>
                  </span>
                  {{ block.settings.description }}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Accordion Product",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "t:sections.accordion-product.settings.title.label",
      "default": "hello world"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.accordion-product.settings.image.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "text_accordion",
      "name": "Text Accoordion",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "t:sections.accordion-product.blocks.text.settings.title.label",
          "default": "hello world"
        },
        {
          "type": "inline_richtext",
          "id": "description",
          "label": "t:sections.accordion-product.blocks.text.settings.description.label",
          "default": "Lorem ipsum dolor sit amet"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Accordion Product"
    }
  ]
}
{% endschema %}
