{{ 'gsap.min.js' | asset_url | script_tag }}
{{ 'ScrollTrigger.min.js' | asset_url | script_tag }}

<section class="sec-scroll">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="scroll-container">
          <div class="area-scroll-trigger">
            <div id="imageContainer" class="list-image-item">
              {% for i in (1..150) %}
                {% assign image_number = i | prepend: '000' | slice: -4, 4 %}
                <img
                  src="{{ section.settings.link_title }}{{ image_number }}.webp"
                  alt="Image {{ image_number }}"
                >
              {% endfor %}
            </div>
            <div class="list-text-item" id="textContainer">
              {% for block in section.blocks %}
                {% if block.settings.text_animation != blank %}
                  <p class="{% if forloop.first %}show{% else %}hide{% endif %}">{{ block.settings.text_animation }}</p>
                {% endif %}
              {% endfor %}
            </div>
            <div class="progress-bar-item">
              <div class="progress-bar"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Animation Product",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "Animation Products",
      "label": "t:sections.animation-product.settings.title.label"
    },
    {
      "type": "inline_richtext",
      "id": "link_title",
      "default": "https://cdn.shopify.com/s/files/1/0718/7375/7471/files/",
      "label": "t:sections.animation-product.settings.link_title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text Animation",
      "settings": [
        {
          "type": "text",
          "id": "text_animation",
          "label": "t:sections.animation-product.blocks.text.settings.text.label",
          "default": "hello world"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Animation Product"
    }
  ]
}
{% endschema %}
