<section class="section-custome page-width">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="header-review">
          <h3>{{ section.settings.title }}</h3>
        </div>
        <div class="review-list-card">
          <div class="swiper swiperReview">
            <div class="swiper-wrapper">
              {% for block in section.blocks %}
                {% assign full_stars = block.settings.star_rating | floor %}
                {% assign half_star = block.settings.star_rating | modulo: 1 %}
                {% assign half_star = half_star | round %}
                {% assign empty_stars = 5 | minus: full_stars %}
                {% if half_star > 0 %}
                  {% assign empty_stars = empty_stars | minus: 1 %}
                {% endif %}

                <div class="swiper-slide">
                  <div class="card-review">
                    <div class="star-and-date">
                      <div class="star">
                        {% for i in (1..full_stars) %}
                          <svg
                            class="star-full"
                            width="14"
                            height="14"
                            viewBox="0 0 14 14"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path d="M13.6314 5.11934C13.5895 4.99592 13.5124 4.88747 13.4095 4.80738C13.3067 4.72729 13.1827 4.67908 13.0527 4.66868L9.25206 4.36668L7.60739 0.72601C7.55501 0.608751 7.46982 0.509157 7.36209 0.439248C7.25436 0.369339 7.1287 0.332102 7.00027 0.332031C6.87185 0.331961 6.74615 0.36906 6.63834 0.438851C6.53054 0.508642 6.44523 0.608142 6.39272 0.725343L4.74806 4.36668L0.947392 4.66868C0.819695 4.67879 0.697617 4.72548 0.595762 4.80316C0.493906 4.88084 0.416587 4.98622 0.373054 5.1067C0.32952 5.22717 0.321617 5.35763 0.350288 5.48248C0.37896 5.60733 0.442992 5.72127 0.534725 5.81068L3.34339 8.54868L2.35006 12.85C2.3199 12.9802 2.32956 13.1165 2.3778 13.2411C2.42605 13.3657 2.51063 13.473 2.62059 13.549C2.73055 13.6249 2.8608 13.6661 2.99445 13.6671C3.12809 13.6681 3.25896 13.629 3.37006 13.5547L7.00006 11.1347L10.6301 13.5547C10.7436 13.6301 10.8775 13.6689 11.0138 13.6659C11.1501 13.6629 11.2822 13.6183 11.3923 13.538C11.5025 13.4577 11.5854 13.3456 11.6299 13.2167C11.6744 13.0879 11.6784 12.9485 11.6414 12.8173L10.4221 8.55068L13.4461 5.82934C13.6441 5.65068 13.7167 5.37201 13.6314 5.11934Z" fill="white"/>
                          </svg>
                        {% endfor %}

                        {% if half_star != 0 %}
                          <svg
                            class="star-mid"
                            width="14"
                            height="14"
                            viewBox="0 0 14 14"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path d="M7 7.5V7V6.5V6V3.41467L7.00027 1L7 0.5L7.00027 0.332031C6.87185 0.331961 6.74615 0.36906 6.63834 0.438851C6.53054 0.508642 6.44523 0.608142 6.39272 0.725343L4.74806 4.36668L0.947392 4.66868C0.819695 4.67879 0.697617 4.72548 0.595762 4.80316C0.493906 4.88084 0.416587 4.98622 0.373054 5.1067C0.32952 5.22717 0.321617 5.35763 0.350288 5.48248C0.37896 5.60733 0.442992 5.72127 0.534725 5.81068L3.34339 8.54868L2.35006 12.85C2.3199 12.9802 2.32956 13.1165 2.3778 13.2411C2.42605 13.3657 2.51063 13.473 2.62059 13.549C2.73055 13.6249 2.8608 13.6661 2.99445 13.6671C3.12809 13.6681 3.25895 13.629 3.37006 13.5547L7.00006 11.1347L7 10.8529V10.5V10V9.64051V9.32025V9V8.5V8V7.5Z" fill="white"/>
                            <path d="M8.6597 4.63427L8.81778 4.98422L9.20057 5.01463L13.0009 5.3166C13.0009 5.31661 13.0009 5.31661 13.0009 5.31661C13.0043 5.31689 13.0075 5.31814 13.0101 5.32021C13.0128 5.32229 13.0148 5.32511 13.0159 5.32831L13.6314 5.11934L13.0156 5.32733C13.018 5.33465 13.016 5.34189 13.0106 5.34677L9.98726 8.06751L9.68555 8.33902L9.79708 8.72928L11.0159 12.994C11.0159 12.9941 11.0159 12.9942 11.0159 12.9942C11.0168 12.9976 11.0167 13.0011 11.0156 13.0044C11.0144 13.0077 11.0123 13.0106 11.0094 13.0127C11.0065 13.0148 11.0031 13.016 10.9996 13.0161C10.9961 13.0161 10.9926 13.0152 10.9897 13.0133C10.9897 13.0132 10.9896 13.0132 10.9896 13.0132L7.36061 10.5938L7.00006 10.3535L6.6395 10.5938L3.0095 13.0138L3.00879 13.0143C3.00601 13.0162 3.00274 13.0172 2.9994 13.0171C2.99606 13.0171 2.9928 13.0161 2.99005 13.0142C2.9873 13.0123 2.98519 13.0096 2.98398 13.0065C2.98278 13.0034 2.98253 13 2.98329 12.9967L2.98339 12.9963L3.97672 8.69494L4.05902 8.33856L3.79712 8.08324L0.988452 5.34524L0.988408 5.3452C0.986114 5.34296 0.984514 5.34011 0.983797 5.33699C0.98308 5.33387 0.983278 5.33061 0.984366 5.3276C0.985455 5.32458 0.987388 5.32195 0.989934 5.32001C0.992479 5.31807 0.995531 5.3169 0.998725 5.31665L0.998878 5.31663L4.79954 5.01463L5.18236 4.98422L5.34044 4.63423L6.98511 0.992902L6.98592 0.991096C6.98713 0.988394 6.98909 0.986101 6.99158 0.984493C6.99406 0.982885 6.99696 0.98203 6.99992 0.982031C7.00288 0.982033 7.00577 0.982891 7.00826 0.984502C7.01074 0.986114 7.0127 0.98841 7.01391 0.991111L7.0139 0.991113L7.01503 0.993608L8.6597 4.63427Z" stroke="white" stroke-width="1.3"/>
                          </svg>
                        {% endif %}

                        {% for i in (1..empty_stars) %}
                          <svg
                            class="star-blank"
                            width="14"
                            height="14"
                            viewBox="0 0 14 14"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path d="M3.34406 8.54859L2.35072 12.8499C2.31997 12.9802 2.3292 13.1167 2.37722 13.2416C2.42524 13.3665 2.50982 13.474 2.6199 13.5501C2.72999 13.6262 2.86047 13.6674 2.99429 13.6682C3.12812 13.669 3.25908 13.6294 3.37006 13.5546L7.00006 11.1346L10.6301 13.5546C10.7436 13.63 10.8775 13.6688 11.0138 13.6658C11.1501 13.6628 11.2822 13.6182 11.3923 13.5379C11.5025 13.4576 11.5854 13.3455 11.6299 13.2166C11.6744 13.0878 11.6784 12.9484 11.6414 12.8173L10.4221 8.55059L13.4461 5.82925C13.5429 5.74205 13.6121 5.62836 13.645 5.50226C13.6779 5.37616 13.6732 5.24317 13.6313 5.11975C13.5895 4.99632 13.5124 4.88787 13.4095 4.8078C13.3067 4.72774 13.1826 4.67957 13.0527 4.66925L9.25206 4.36659L7.60739 0.72592C7.55495 0.608691 7.4697 0.509144 7.36193 0.439294C7.25416 0.369443 7.12848 0.332275 7.00006 0.332275C6.87163 0.332275 6.74595 0.369443 6.63818 0.439294C6.53042 0.509144 6.44517 0.608691 6.39272 0.72592L4.74806 4.36659L0.947392 4.66859C0.819695 4.6787 0.697617 4.72539 0.595762 4.80307C0.493906 4.88075 0.416587 4.98613 0.373054 5.10661C0.32952 5.22708 0.321617 5.35754 0.350288 5.48239C0.37896 5.60724 0.442992 5.72118 0.534725 5.81059L3.34406 8.54859ZM5.24606 5.66459C5.36505 5.65521 5.47934 5.614 5.57693 5.54526C5.67452 5.47653 5.75182 5.38281 5.80072 5.27392L7.00006 2.61992L8.19939 5.27392C8.2483 5.38281 8.3256 5.47653 8.42319 5.54526C8.52078 5.614 8.63506 5.65521 8.75406 5.66459L11.4021 5.87459L9.22139 7.83725C9.03206 8.00792 8.95672 8.27059 9.02606 8.51592L9.86139 11.4393L7.37072 9.77859C7.2614 9.70521 7.13272 9.66603 7.00106 9.66603C6.8694 9.66603 6.74071 9.70521 6.63139 9.77859L4.02872 11.5139L4.72872 8.48325C4.75439 8.37179 4.75095 8.25559 4.71872 8.14584C4.6865 8.0361 4.62658 7.93648 4.54472 7.85659L2.51939 5.88192L5.24606 5.66459Z" fill="white"/>
                          </svg>
                        {% endfor %}
                      </div>
                      <div class="date">
                        <p>{{ block.settings.review_date | date: '%d %b %Y' }}</p>
                      </div>
                    </div>
                    <div class="text-review">
                      {{ block.settings.text_review }}
                    </div>
                    <div class="user-review">
                      <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.image_alt }}">
                      <h5>{{ block.settings.user_name }}</h5>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.custome-review.name",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "t:sections.custome-review.settings.title.default",
      "label": "t:sections.custome-review.settings.title.label"
    }
  ],
  "blocks": [
    {
      "type": "review",
      "name": "t:sections.custome-review.blocks.review.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.custome-review.blocks.review.settings.image.label"
        },
        {
          "type": "text",
          "id": "user_name",
          "label": "t:sections.custome-review.blocks.review.settings.user_name.label",
          "default": "t:sections.custome-review.blocks.review.settings.user_name.default"
        },
        {
          "type": "range",
          "id": "star_rating",
          "min": 0,
          "max": 5,
          "step": 0.5,
          "default": 0,
          "label": "t:sections.custome-review.blocks.review.settings.star_rating.label"
        },
        {
          "type": "text",
          "id": "review_date",
          "label": "t:sections.custome-review.blocks.review.settings.review_date.label",
          "default": "2024-01-23"
        },
        {
          "type": "richtext",
          "id": "text_review",
          "label": "t:sections.custome-review.blocks.review.settings.text_review.label",
          "default": "<p>Lorem ipsum dolor sit amet...</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.custome-review.presets.name"
    }
  ]
}
{% endschema %}
