<footer class="new-footer section-custome">
  {%- liquid
    assign has_social_icons = true
    if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
      assign has_social_icons = false
    endif
  -%}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12 col-12">
        {% if section.settings.show_logo %}
          <div class="logo-footer">
            <a href="{{ section.settings.logo_url }}">
              {% if section.settings.footer_logo != blank %}
                <img
                  src="{{ section.settings.footer_logo | img_url: '250x' }}"
                  alt="{{ section.settings.logo_alt_text }}"
                >
              {% endif %}
            </a>
          </div>
        {% endif %}
        <div class="text-footer-lazy-lowie">
          <p>{{ section.settings.footer_text }}</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-12">
        <div class="footer-menu-custome">
          {% for block in section.blocks %}
            <div class="menu-footer">
              <p class="headline-footer-menu">{{ block.settings.menu_title }}</p>
              <div class="list-menu-footer">
                {% for link in linklists[block.settings.menu].links %}
                  <a href="{{ link.url }}">{{ link.title }}</a>
                {% endfor %}
              </div> 
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="row row-medsos">
      <div class="col-lg-10 col-md-8 col-sm-12 col-12">
        <div class="text-subscribe">
          <p>{{ section.settings.subscribe_text }}</p>
        </div>
        <div class="desc-text-subscribe">
          <p>{{ section.settings.desc_subscribe_text }}</p>
        </div>
        <div class="form-subscribe">
          {%- if section.settings.newsletter_enable -%}
            <div class="footer-block__newsletter">
              {%- if section.settings.newsletter_heading != blank -%}
                <h2 class="footer-block__heading inline-richtext">{{ section.settings.newsletter_heading }}</h2>
              {%- endif -%}
              {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form newsletter-form-custome' -%}
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="newsletter-form__field-wrapper form-email-custome">
                  <div class="field">
                    <input
                      id="NewsletterForm--{{ section.id }}"
                      type="email"
                      name="contact[email]"
                      class="field__input form-input-custome"
                      value="{{ form.email }}"
                      aria-required="true"
                      autocorrect="off"
                      autocapitalize="off"
                      autocomplete="email"
                      {% if form.errors %}
                        autofocus
                        aria-invalid="true"
                        aria-describedby="ContactFooter-error"
                      {% elsif form.posted_successfully? %}
                        aria-describedby="ContactFooter-success"
                      {% endif %}
                      placeholder="{{ 'newsletter.label' | t }}"
                      required
                    >
                    <label class="field__label field-label-custome" for="NewsletterForm--{{ section.id }}">
                      {{ 'newsletter.label' | t }}
                    </label>
                    <button
                      type="submit"
                      class="newsletter-form__button field__button custome-field-button"
                      name="commit"
                      id="Subscribe"
                      aria-label="{{ 'newsletter.button_label' | t }}"
                    >
                      {% render 'icon-arrow' %}
                    </button>
                  </div>
                  {%- if form.errors -%}
                    <small class="newsletter-form__message form__message form-message-custome" id="ContactFooter-error">
                      {%- render 'icon-error' -%}
                      {{- form.errors.translated_fields.email | capitalize }}
                      {{ form.errors.messages.email -}}
                    </small>
                  {%- endif -%}
                </div>
                {%- if form.posted_successfully? -%}
                  <h3
                    class="newsletter-form__message form-message-custome newsletter-form__message--success form__message"
                    id="ContactFooter-success"
                    tabindex="-1"
                    autofocus
                  >
                    {% render 'icon-success' -%}
                    {{- 'newsletter.success' | t }}
                  </h3>
                {%- endif -%}
              {%- endform -%}
            </div>
          {%- endif -%}
        </div>
        <div class="media-social-icon">
          {%- if section.settings.show_social and has_social_icons -%}
            {%- render 'social-icons', class: 'footer__list-social footer-media-social' -%}
          {%- endif -%}
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-12 col-12">
        <div class="mascot-image">
          <img src="{{ section.settings.image_icon | img_url: 'x300' }}" alt="Image icon">
        </div>
      </div>
    </div>
    <div class="divider-footer"></div>
    <div class="row">
      <div class="col-12">
        <div class="year-development">
          <p>© Copyright {{ 'now' | date: '%Y' }}, | Lazy Lowie </p>
        </div>
      </div>
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "t:sections.footer.name",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_logo",
        "label": "t:sections.footer.settings.show_logo.label",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_social",
        "default": true,
        "label": "t:sections.footer.settings.show_social.label"
      },
      {
        "type": "checkbox",
        "id": "newsletter_enable",
        "default": true,
        "label": "t:sections.footer.settings.newsletter_enable.label"
      },
      {
        "type": "image_picker",
        "id": "footer_logo",
        "label": "t:sections.footer.settings.footer_logo.label"
      },
      {
        "type": "text",
        "id": "logo_alt_text",
        "label": "t:sections.footer.settings.logo_alt_text.label",
        "default": "Footer Logo"
      },
      {
        "type": "url",
        "id": "logo_url",
        "label": "t:sections.footer.settings.logo_url.label",
        "default": "/"
      },
      {
        "type": "text",
        "id": "footer_text",
        "label": "t:sections.footer.settings.footer_text.label",
        "default": "Upload description footer text here"
      },
      {
        "type": "text",
        "id": "subscribe_text",
        "label": "t:sections.footer.settings.subscribe_text.label",
        "default": "Upload subscribe text here"
      },
      {
        "type": "inline_richtext",
        "id": "desc_subscribe_text",
        "label": "t:sections.footer.settings.subscribe_text.label",
        "default": "Upload subscribe text here"
      },
      {
        "type": "image_picker",
        "id": "image_icon",
        "label": "t:sections.footer.settings.image_icon.label",
        "info": "t:sections.footer.settings.image_icon.info"
      }
    ],
    "blocks": [
      {
        "type": "menu",
        "name": "t:sections.footer.blocks.menu.name",
        "settings": [
          {
            "type": "text",
            "id": "menu_title",
            "label": "t:sections.footer.blocks.menu.settings.menu_title.label",
            "default": "Shop"
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "t:sections.footer.blocks.menu.settings.menu.label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.footer.presets.custom_footer.name"
      }
    ]
  }
  {% endschema %}
  