{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 768px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  @media screen and (max-width: 767px) {
    .section-{{ section.id }}-padding {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
{%- endstyle -%}

<section class="section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="title-page">
          <h2 class="{{ section.settings.heading_size }}">{{ section.settings.title }}</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center row-gap-5 row-card-product">
      {% for block in section.blocks %}
        <div class="col-lg-4 col-md-6 col-sm-6 col-6">
          <div class="card-highlight-product">
            <div class="title-product">
              <h2>{{ block.settings.title_product_card }}</h2>
            </div>
            <div class="tagline-product">
              <h5>{{ block.settings.tagline_product_card }}</h5>
            </div>
            <a href="{{ block.settings.button_link }}" class="image-cover">
              <img
                src="{{ block.settings.image_product | img_url: 'master' }}"
                alt="{{ block.settings.image_product.alt | escape }}"
              >
            </a>
            <div class="feature-product-card">
              {{ block.settings.desc_product_card }}
            </div>
            <div class="border-card"></div>
            <div class="feature-product-card">
              {{ block.settings.feature_product_card }}
            </div>
            <img
              class="image-content-card"
              src="{{ block.settings.image_content_card | img_url: 'master' }}"
              alt="{{ block.settings.image_content_card.alt | escape }}"
            >
            <div class="feature-product-card">
              {{ block.settings.desc_feature_product_card }}
            </div>
            <div class="border-card"></div>
            <div class="size-product-card">
              <h5>{{ block.settings.size_product_card }}</h5>
              {{ block.settings.desc_size_product_card }}
            </div>
            <div class="border-card"></div>
            <img
              class="image-certi-card"
              src="{{ block.settings.image_certi_card | img_url: 'master' }}"
              alt="{{ block.settings.image_certi_card.alt | escape }}"
            >
            <div class="border-card"></div>
            <div class="level-layer">
              {% assign full_rounds = block.settings.rate_rating_one | floor %}
              {% assign half_round = block.settings.rate_rating_one | modulo: 1 %}
              {% assign half_round = half_round | round %}
              {% assign empty_rounds = 7 | minus: full_rounds %}
              {% if half_round > 0 %}
                {% assign empty_rounds = empty_rounds | minus: 1 %}
              {% endif %}
              <div class="size-product-card">
                <h5>{{ block.settings.title_rating_one }}</h5>
              </div>
              <div class="range-layer">
                {% for i in (1..full_rounds) %}
                  <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="50" cy="50" r="50" fill="#00B6A7"/>
                  </svg>
                {% endfor %}
                {% if half_round != 0 %}
                  <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M50 50C50 77.6142 50 100 50 100C22.3858 100 0 77.6142 0 50C0 22.3858 22.3858 0 50 0C50 0 50 22.3858 50 50Z" fill="#00B6A7"/>
                    <circle cx="50" cy="50" r="45" stroke="#005750" stroke-width="10"/>
                  </svg>
                {% endif %}
                {% for i in (1..empty_rounds) %}
                  <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="50" cy="50" r="45" stroke="#005750" stroke-width="10"/>
                  </svg>
                {% endfor %}
              </div>
              <div class="desc-rating-layer">
                {{ block.settings.desc_rating_one }}
              </div>
            </div>
            <div class="border-card"></div>
            <div class="size-product-card">
              <h5>{{ block.settings.title_rating_two }}</h5>
            </div>
            <div class="level-layer">
              {% assign full_rounds = block.settings.rate_rating_two | floor %}
              {% assign half_round = block.settings.rate_rating_two | modulo: 1 %}
              {% assign half_round = half_round | round %}
              {% assign empty_rounds = 7 | minus: full_rounds %}
              {% if half_round > 0 %}
                {% assign empty_rounds = empty_rounds | minus: 1 %}
              {% endif %}
              <div class="range-layer">
                {% for i in (1..full_rounds) %}
                  <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="50" cy="50" r="50" fill="#00B6A7"/>
                  </svg>
                {% endfor %}
                {% if half_round != 0 %}
                  <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M50 50C50 77.6142 50 100 50 100C22.3858 100 0 77.6142 0 50C0 22.3858 22.3858 0 50 0C50 0 50 22.3858 50 50Z" fill="#00B6A7"/>
                    <circle cx="50" cy="50" r="45" stroke="#005750" stroke-width="10"/>
                  </svg>
                {% endif %}
                {% for i in (1..empty_rounds) %}
                  <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="50" cy="50" r="45" stroke="#005750" stroke-width="10"/>
                  </svg>
                {% endfor %}
              </div>
              <div class="desc-rating-layer">
                {{ block.settings.desc_rating_two }}
              </div>
            </div>
            <div class="border-card"></div>
            <div class="size-product-card">
              <h5>{{ block.settings.title_rating_three }}</h5>
            </div>
            <div class="level-layer">
              {% assign full_rounds = block.settings.rate_rating_three | floor %}
              {% assign half_round = block.settings.rate_rating_three | modulo: 1 %}
              {% assign half_round = half_round | round %}
              {% assign empty_rounds = 7 | minus: full_rounds %}
              {% if half_round > 0 %}
                {% assign empty_rounds = empty_rounds | minus: 1 %}
              {% endif %}
              <div class="range-layer">
                {% for i in (1..full_rounds) %}
                  <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="50" cy="50" r="50" fill="#00B6A7"/>
                  </svg>
                {% endfor %}
                {% if half_round != 0 %}
                  <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M50 50C50 77.6142 50 100 50 100C22.3858 100 0 77.6142 0 50C0 22.3858 22.3858 0 50 0C50 0 50 22.3858 50 50Z" fill="#00B6A7"/>
                    <circle cx="50" cy="50" r="45" stroke="#005750" stroke-width="10"/>
                  </svg>
                {% endif %}
                {% for i in (1..empty_rounds) %}
                  <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="50" cy="50" r="45" stroke="#005750" stroke-width="10"/>
                  </svg>
                {% endfor %}
              </div>
            </div>
            <div class="desc-rating-layer">
              {{ block.settings.desc_rating_three }}
            </div>
            <div class="border-card"></div>
            <div class="icon-content">
              <img class="image-icon-content"
              src="{{ block.settings.image_icon_one | img_url: 'master' }}"
              alt="{{ block.settings.image_icon_one.alt | escape }}"
              >
              <p>{{ block.settings.text_icon_one }}</p>
            </div>
            <div class="border-card"></div>
            <div class="icon-content">
              <img class="image-icon-content"
              src="{{ block.settings.image_icon_two | img_url: 'master' }}"
              alt="{{ block.settings.image_icon_two.alt | escape }}"
              >
              <p>{{ block.settings.text_icon_two }}</p>
            </div>
            <div class="border-card"></div>
            <div class="price-product-content">
              <h4>{{ block.settings.price_product_title }}</h4>
              <div class="price-product-compare">
                <p class="no-discount">{{ block.settings.price_product_no_disc }}</p>
                <p class="discount">{{ block.settings.price_product_disc }}</p>
              </div>
            </div>
            <div class="button-buy-second">
              <a href="{{ block.settings.button_link }}">
                <button>{{ block.settings.button_text }}</button>
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Product Highlight",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "Product Highlight",
      "label": "t:sections.product-highlight.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "highlight_description",
      "name": "Hightlight Description",
      "settings": [
        {
          "type": "text",
          "id": "title_product_card",
          "label": "t:sections.product-highlight.blocks.highlight_description.settings.title_product_card.label",
          "default": "The Title"
        },
        {
          "type": "text",
          "id": "tagline_product_card",
          "label": "t:sections.product-highlight.blocks.highlight_description.settings.tagline_product_card.label",
          "default": "Adjustable Mattress"
        },
        {
          "type": "image_picker",
          "id": "image_product",
          "label": "t:sections.product-highlight.blocks.highlight_description.settings.image_product.label"
        },
        {
          "type": "text",
          "id": "price_product_title",
          "label": "t:sections.product-highlight.blocks.highlight_description.settings.price_product_title.label",
          "default": "Price From"
        },
        {
          "type": "text",
          "id": "price_product_no_disc",
          "label": "t:sections.product-highlight.blocks.highlight_description.settings.price_product_no_disc.label",
          "default": "Rp. 4.950.000"
        },
        {
          "type": "text",
          "id": "price_product_disc",
          "label": "t:sections.product-highlight.blocks.highlight_description.settings.price_product_disc.label",
          "default": "Rp.4.400.000"
        },
        {
          "type": "richtext",
          "id": "feature_product_card",
          "label": "t:sections.product-highlight.blocks.highlight_description.settings.feature_product_card.label",
          "default": "<p>Features: has 4 layes with <br> a thickness of 25cm</p>"
        },
        {
          "type": "image_picker",
          "id": "image_content_card",
          "label": "t:sections.product-highlight.blocks.highlight_description.settings.image_content_card.label"
        },
        {
          "type": "richtext",
          "id": "desc_feature_product_card",
          "label": "t:sections.product-highlight.blocks.highlight_description.settings.desc_feature_product_card.label",
          "default": "<p>2,5 cm Latex<br>2,5 Memory Foam<br>10 cm Medium Desinty Foam<br>10 cm High Desinty Foam a thickness of 25cm</p>"
        },
        {
          "type": "text",
          "id": "size_product_card",
          "label": "t:sections.product-highlight.blocks.highlight_description.settings.size_product_card.label",
          "default": "Size"
        },
        {
          "type": "richtext",
          "id": "desc_size_product_card",
          "label": "t:sections.product-highlight.blocks.highlight_description.settings.desc_size_product_card.label",
          "default": "<p>Single, Single Standar, Single XL, Double, Queen</p>"
        },
        {
          "type": "image_picker",
          "id": "image_certi_card",
          "label": "t:sections.product-highlight.blocks.highlight_description.settings.image_certi_card.label"
        },
        {
          "type": "text",
          "id": "title_rating_one",
          "label": "t:sections.product-highlight.blocks.highlight_description.settings.title_rating_one.label",
          "default": "Soft"
        },
        {
          "type": "range",
          "id": "rate_rating_one",
          "min": 0,
          "max": 7,
          "step": 0.5,
          "default": 0,
          "label": "t:sections.product-highlight.blocks.highlight_description.settings.rate_rating_one.label"
        },
        {
          "type": "richtext",
          "id": "desc_rating_one",
          "label": "t:sections.product-highlight.blocks.highlight_description.settings.desc_rating_one.label",
          "default": "<p>lorem ipsum dolor sit amet nolei kofrika</p>"
        },
        {
          "type": "text",
          "id": "title_rating_two",
          "label": "t:sections.product-highlight.blocks.highlight_description.settings.title_rating_two.label",
          "default": "Medium"
        },
        {
          "type": "range",
          "id": "rate_rating_two",
          "min": 0,
          "max": 7,
          "step": 0.5,
          "default": 0,
          "label": "t:sections.product-highlight.blocks.highlight_description.settings.rate_rating_two.label"
        },
        {
          "type": "richtext",
          "id": "desc_rating_two",
          "label": "t:sections.product-highlight.blocks.highlight_description.settings.desc_rating_two.label",
          "default": "<p>lorem ipsum dolor sit amet nolei kofrika</p>"
        },
        {
          "type": "text",
          "id": "title_rating_three",
          "label": "t:sections.product-highlight.blocks.highlight_description.settings.title_rating_three.label",
          "default": "Soft"
        },
        {
          "type": "range",
          "id": "rate_rating_three",
          "min": 0,
          "max": 7,
          "step": 0.5,
          "default": 0,
          "label": "t:sections.product-highlight.blocks.highlight_description.settings.rate_rating_three.label"
        },
        {
          "type": "richtext",
          "id": "desc_rating_three",
          "label": "t:sections.product-highlight.blocks.highlight_description.settings.desc_rating_three.label",
          "default": "<p>lorem ipsum dolor sit amet nolei kofrika</p>"
        },
        {
          "type": "richtext",
          "id": "desc_product_card",
          "label": "t:sections.product-highlight.blocks.highlight_description.settings.desc_feature_product_card.label",
          "default": "<p>A mattress that you can freely customize according to your comfort level</p>"
        },
        {
          "type": "image_picker",
          "id": "image_icon_one",
          "label": "t:sections.product-highlight.blocks.highlight_description.settings.image_icon_one.label"
        },
        {
          "type": "text",
          "id": "text_icon_one",
          "label": "t:sections.product-highlight.blocks.highlight_description.settings.text_icon_one.label",
          "default": "120-Day Trial Period Warranty"
        },
        {
          "type": "image_picker",
          "id": "image_icon_two",
          "label": "t:sections.product-highlight.blocks.highlight_description.settings.image_icon_two.label"
        },
        {
          "type": "text",
          "id": "text_icon_two",
          "label": "t:sections.product-highlight.blocks.highlight_description.settings.text_icon_two.label",
          "default": "Up to 20 years warranty period"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "t:sections.product-highlight.blocks.highlight_description.settings.button_link.label",
          "default": "Beli Sekarang"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.product-highlight.blocks.highlight_description.settings.button_link.label"
        }
      ]
    }
  ],
  "max_blocks": 8,
  "presets": [
    {
      "name": "Product Highlight"
    }
  ]
}
{% endschema %}
