{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 768px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  @media screen and (max-width: 767px) {
    .section-{{ section.id }}-padding {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
{%- endstyle -%}

<section class="section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="swiper swiperReviewProduct">
          <div class="swiper-wrapper">
            {% for block in section.blocks %}
              <div class="swiper-slide">
                <div class="content-slider">
                  <div class="text-content">
                    {{ block.settings.title_slider }}
                    {{ block.settings.description_slider }}
                    <h6>{{ block.settings.name_slider }}</h6>
                  </div>

                  {%- if block.settings.image_slider != blank %}
                    <img src="{{ block.settings.image_slider | img_url: 'master' }}" alt="{{ block.settings.name_slider | escape }}">
                  {%- elsif block.settings.video_url != blank %}
                    <video controls>
                      <source src="{{ block.settings.video_url }}" type="video/mp4">
                      Your browser does not support the video tag.
                    </video>
                  {%- endif %}

                </div>
              </div>
            {% endfor %}
          </div>
          <div class="navigation-slider-review">
                    <div class="swiper-button-prev custome-nav-swiper product"></div>
                    <div class="swiper-button-next custome-nav-swiper product"></div>
            </div>
            <div class="navigation-slider-review swiper-scrollbar"></div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Product Review",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "slider_item",
      "name": "Slider Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_slider",
          "label": "t:sections.product-review.blocks.slider_item.settings.image_slider.label"
        },
        {
          "type": "text",
          "id": "video_url",
          "label": "t:sections.product-review.blocks.slider_item.settings.video_url.label",
          "info": "t:sections.product-review.blocks.slider_item.settings.video_url.info"
        },
        {
          "type": "richtext",
          "id": "title_slider",
          "label": "t:sections.product-review.blocks.slider_item.settings.title_slider.label",
          "default": "<p>hello world</p>"
        },
        {
          "type": "richtext",
          "id": "description_slider",
          "label": "t:sections.product-review.blocks.slider_item.settings.description_slider.label",
          "default": "<p>Lorem ipsum dolor sit amet</p>"
        },
        {
          "type": "text",
          "id": "name_slider",
          "label": "t:sections.product-review.blocks.slider_item.settings.name_slider.label",
          "default": "Lorem ipsum dolor sit amet"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Review"
    }
  ]
}
{% endschema %}
