{{ 'custome-style.css' | asset_url | stylesheet_tag }}

<section>
  <div class="container-fluid p-0">
    <div class="swiper customesliderSwiper">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div class="swiper-slide swiper-custome-slider">
            <div
              class="background-slider-desktop"
              style="background-image: url('{{ block.settings.image_slider_desktop | img_url: 'master' }}');"
            >
              <div class="text-custome-slider">
                <h5>{{ block.settings.text_slider }}</h5>
              </div>
            </div>
            <div
              class="background-slider-mobile"
              style="background-image: url('{{ block.settings.image_slider_mobile | img_url: 'master' }}');"
            >
              <div class="text-custome-slider">
                <h5>{{ block.settings.text_slider }}</h5>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination swiper-custome-slider-pagination"></div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.slider-custome.name",
  "class": "section",
  "tag": "section",
  "settings": [],
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.slider-custome.blocks.image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_slider_desktop",
          "label": "t:sections.slider-custome.blocks.image.settings.image_slider_desktop.label"
        },
        {
          "type": "image_picker",
          "id": "image_slider_mobile",
          "label": "t:sections.slider-custome.blocks.image.settings.image_slider_mobile.label"
        },
        {
          "type": "text",
          "id": "text_slider",
          "label": "t:sections.slider-custome.blocks.image.settings.text_slider.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.slider-custome.presets.name"
    }
  ]
}
{% endschema %}
